/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log

.fake
.ionide
app/.DS_Store
public/images/.DS_Store
public/js/.DS_Store
resources/views/.DS_Store
resources/views/dash/.DS_Store
bootstrap/.DS_Store
